@charset "utf-8";
/* CSS Document */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,800);

body{ border-top:5px solid #811ba2}

.red{background-color:#CC3366}
.green{background-color:#009966}
.blu{background-color:#009999}
.yellow{background-color:#FFCC00}

.flotleft{float:left}

.nomargin{margin:0px;}
.nopadding{padding:0px;}
.no-r-l-padding{padding-left:0px;padding-right:0px;}
.marginauto{margin-right:auto; margin-left:auto; float:none; }





.pagewrap{box-shadow:0px 0px 5px #9e9e9e; border-bottom-left-radius:10px; border-bottom-right-radius:10px; margin-bottom:20px}


.nav-pannel{
padding:15px;
background-color:#-fff; border-bottom:1px solid #ccc; float:left; }

.logo-box{
font-family: 'Open Sans', sans-serif;
font-size:18px;
color:#811ba2;
font-weight:400;
float:left}

.notifi-box{
float:right;
padding:0px }
 

.message-icon{color:#811ba2;font-size:20px;width:1px;cursor:pointer; float:left ;   width:20px  }

 
.hot{background-color:#FF0000;width:15px;height:15px;border-radius:15px; z-index: 1;
font-size:10px;padding:1px 2px 5px 2px ;color:#FFFFFF; position:absolute; margin-left:15px }
 
.message-icon{ padding:0px;  }
.message-icon span{
padding:0px;
margin:0px;
float:right;
  }

.message-icon:hover span{ color:#FF9900; }

.notifi-box .message-icon:hover .in-box{
display:block

}
 

.in-box{display:none ;z-index:222;width:400px;  font-size:15px;top:-3px;padding:25px; position:absolute;
right:50px}

.in-box-in{box-shadow:0px 0px 5px #999;border-radius:5px;border-top-right-radius:0px;overflow:hidden}

.in-box-in h1{background-color:#811ba2;color:#fff;font-size:16px;font-weight:bold;margin:0px;padding:10px;font-family: 'Open Sans', sans-serif;
float:left;width:100%;margin-bottom:0px}


.in-box-in .approve{bottom:0px; padding:5px;float:left; width:100%;background-color:#F3F3F3 }

.in-box-in .approve:hover{background-color:#E9E9E9}

.in-box-in .approve a{color:#666; padding:inherit; font-size:13px; font-weight:bold; text-decoration:none; width:100%;font-family: 'Open Sans', sans-serif;}

.in-box-in .approve a:visited:active{color:#666; padding:inherit; font-size:13px; font-weight:bold; text-decoration:none;font-family: 'Open Sans', sans-serif;}

.in-box-in .approve a:hover{color:#000; padding:inherit; font-size:13px; font-weight:bold; text-decoration:none;font-family: 'Open Sans', sans-serif;  }



.in-box-in li{width:100%; float:left; border-bottom:1px dashed #ccc; padding-top:0px;  
 color:#666;font-family: 'Open Sans', sans-serif; display:block; padding:10px ; background-color:#FFFFFF}
 
 .in-box-in li:hover{background-color:#F7F7F7}
 
 .in-box-in li p{color:#666; font-size:14px; font-weight:normal; }
 
 .in-box-in li a{float:left; width:100%;  padding:0px; margin-top:0px; margin-bottom:0px; 
 background-color:transparent; color:#811ba2; line-height:20px; font-weight:bold; text-decoration:none; margin-bottom:10px;
 background-image:url(../images/email-icon.png); background-position:left top; background-repeat:no-repeat; padding-left:30px; padding-bottom:4px ; padding-top:3px }
 
 .in-box-in li a:visited:active{float:left; width:100%;  padding:0px; margin-top:0px; margin-bottom:0px; 
 background-color:transparent; color:#811ba2; line-height:20px; font-weight:bold; text-decoration:none; margin-bottom:10px;
 background-image:url(../images/email-icon.png); background-position:left top; background-repeat:no-repeat; padding-left:30px;padding-bottom:4px ;padding-top:3px }
 
 .in-box-in li a:hover{float:left; width:100%;  padding:0px; margin-top:0px; margin-bottom:0px; 
 background-color:transparent; color:#000; line-height:20px; font-weight:bold; text-decoration:none; margin-bottom:10px;
 background-image:url(../images/email-icon.png); background-position:left top; background-repeat:no-repeat; padding-left:30px;padding-bottom:4px;padding-top:3px}
 






 

.avtar{width:35px;height:35px;float:right; display:block;margin-top:-5px; margin-left:20px; margin-right:15px}

.avtar:hover .logout{ display:block; }

.logout{width: auto; height:auto; float: right; padding-top:5px;display:none; position:relative;z-index:222; 	 
background-image:url(../images/up-arrow.png); background-position:center top; background-repeat:no-repeat}

.logout a{background-color:#FFFFFF; box-shadow:0px 0px 5px #999; text-decoration:none; 
 padding:2px 15px 5px 15px;  margin-right:-15px; margin-top:5px; color:#811da1;  }
 
 .logout a:visited:active{background-color:#FFFFFF; box-shadow:0px 0px 5px #999; text-decoration:none; 
 padding:2px 15px 5px 15px;  margin-right:-15px; margin-top:5p;color:#811da1}
 
 .logout a:hover{background-color:#811da1; box-shadow:0px 0px 5px #999; text-decoration:none; 
 padding:2px 15px 5px 15px;  margin-right:-15px; margin-top:5px; color:#fff }
 

.avtar img{width:100%}

.admin-left{font-family: 'Open Sans', sans-serif; padding-top:15px; margin-left:-1px; margin-top:-1px}


.admin-left .active{ font-weight:bold;}

.admin-left a{padding-left:15px;font-family: 'Open Sans', sans-serif; font-size:14px}
.admin-left a:visited:active{padding-left:15px;font-family: 'Open Sans', sans-serif; font-size:14px}
.admin-left a:hover{padding-left:15px;font-family: 'Open Sans', sans-serif; font-size:14px}

.admin-left .focus{background-color:#811ba2; color:#FFFFFF; border:1px solid #811ba2; }
.admin-left .focus:hover{background-color:#731990; color:#fff; border:1px solid #731990}

.focus-arrow{width:10px; height:40px; background-image:url(../images/focus-arrow.png); 
 background-position:right center; background-repeat:no-repeat; position:absolute; right:-11px; top:0px}



.admin-left a img{margin-right:10px;}




.reg-req-modl{font-family: 'Open Sans', sans-serif; background-color:#EBEBEB; padding:10px; border-bottom:1px solid #ccc;  width:100% }

.reg-req-modl .req-launch-btn{ font-weight:bold; font-size:15px; background-color:#811ba2; border:none; }
.reg-req-modl .req-launch-btn:visited:active{ font-weight:bold; font-size:15px; background-color:#811ba2; border:none}
.reg-req-modl .req-launch-btn:hover{ font-weight:bold; font-size:15px; background-color:#009933; border:none}

.reg-req-modl .reg-req-modl-hd{background-color:#811ba2; color:#FFFFFF; border-top-left-radius:5px;border-top-right-radius:5px }



.reg-req-modl .cancl-btn{color:#FFFFFF; background-color:#CC0000}
.reg-req-modl .apprve-btn{color:#FFFFFF; background-color:#009933}

.model-width{width:95%}

.table-responsive img{display:block; width:100%; height:auto; float:left; padding:2px; border:1px solid #ccc}

.approved-list{ border-left:1px solid #ccc; margin-left:-1px }
.approved-list h1{margin-bottom:10px; font-family: 'Open Sans', sans-serif; font-weight:bold; font-size:16px; color:#009933; float:left; width:100%}

.res-tabe-2{float:left; width:100% }

.admi-cont-wrp{border-left:1px solid #ccc; padding-left:0px; padding-right:0px; padding-top:0px;  }



.add-coch-contnt{  border-left:1px solid #ccc; padding:15px; font-family: 'Open Sans', sans-serif;}
 
.ad-coch-p1{ border-bottom:1px dashed #ccc; float:left; width:100%; padding-bottom:15px; margin-bottom:10px}

.ad-coch-p1 input{  width:32%; float:left; margin-right:10px}
 
.ad-coch-p2{border-bottom:1px dashed #ccc; float:left; width:100%; padding-bottom:15px; margin-bottom: 15px}

.ad-coch-p2 p{float:left; width:auto; margin:0px; padding:0px}

.ad-coch-p2 input{ margin-left:15px}

.ad-coch-p3{border-bottom:1px dashed #ccc; float:left; width:100%; padding-bottom:25px  }

 
.ad-coch-p3 p{float:left; width:100%; margin:0px; padding:0px; margin-right:15px;  }

.ad-coch-p3 input{  width:100%; float:left; margin-right:10px; margin-bottom:15px}

.ad-coch-p4 button{margin-top:15px}




.host-event-contnt{  border-left:1px solid #ccc; padding:15px; font-family: 'Open Sans', sans-serif;}

.host-eve-p1{padding-bottom:15px; }

.host-eve-p1 p{float:left; width:auto; margin:0px; padding:0px; }

.host-eve-p1 input{ margin-left:0px; margin-bottom:15px}

.host-eve-p1 iframe{width:100%; height:200px; border:1px solid #ccc; background-color:#CCCCCC}

.host-eve-p1 button{margin-top:15px}



.host-eve-p2{padding-bottom:0px; }

.host-eve-p2 p{float:left; width:auto; margin:0px; padding:0px; margin-right:20px;  }

.host-eve-p2 input{ margin-left:5px; margin-bottom:15px; margin-right:15px}

 

.host-eve-p2 .r1{background-color:#00CC66; float:left; margin:0px; width:auto; }



.blog-wrpr{padding-top:15px; height:auto; padding-bottom:20px;border-left:1px solid #ccc;}
.blog-form-1{  }

.blog-form-1 p{float:left; width:auto; margin:0px; padding:0px; margin-right:20px;  }

.blog-form-1 input{ margin-left:0px; margin-bottom:15px}

 
 
 
