@charset "utf-8";
/* CSS Document */

 

 
@media all and (min-width: 1280px) and (max-width: 1900px){

.ad-coch-p2{padding-top:15px}
.blog-form-1 input{width:100%}
 
}
  
  
@media (max-width: 1024px) {

.message-icon{ float:right}
.in-box{width:800px;  }

.ad-coch-p4{float:left; width:100%}
.ad-coch-p1 input{width:100%; float:left; margin-bottom:15px;}
.ad-coch-p2{padding-top:15px}
.blog-form-1 input{width:100%}
	 
}
	
@media (max-width: 800px) { 

 
		 
.in-box	{margin-top:24px; right:-40px} 
 
		 
}
	   
@media (max-width: 768px) {
		 
.in-box	{margin-top:23px; width: 768px; right:-20px ;   } 


}

 	 
		 
@media (max-width: 600px) {
 
.in-box{ width:558px; margin-right:-10px   }
.reg-req-modl{margin-top:10px; border-top:1px solid #ccc}
.focus-arrow{display:none}		
}
			
			
@media (max-width: 480px) {

 .in-box{width:494px; right:-30px; margin-top:23px  }
 
 .focus-arrow{display:none}
 
 .logout{z-index:888; position:relative}
 
 .pagewrap{padding-left:10px; padding-right:10px}
 
 .reg-req-modl{ border-top:1px solid #ccc; margin-top:0px}
  

 .admi-cont-wrp{border-right:1px solid #ccc; padding-top: 0px  }
 
 .host-event-contnt  {border:none}
 
 }

  
			 
@media (max-width: 320px) {
 		  
 .in-box{width:334px; right:-30px  }
 
 .reg-req-modl { text-align:center}
 				  
}
			  
			    
@media (max-width:  265px) {
 
.logo-box{width:100%;  margin-bottom:20px; border-bottom:1px solid #ccc; text-align:center; padding-bottom:10px}
.in-box{width:280px; right:-52px; top:48px  }	
.notifi-box {width:80%;  float:none; margin:0 auto }
.avtar{float:left; margin:0 auto; margin-top:-10px}
.message-icon{float:right; margin:0 auto}
 
   
   
}
 
 