@charset "utf-8";
/* CSS Document */



a:link{font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; font-size:12px; font-weight:bold; text-decoration:none;}

a:visited{font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; font-size:12px; font-weight:bold; background-color:#58689E}

a:hover{font-family:Verdana, Arial, Helvetica, sans-serif; color:#009be4; font-size:12px; font-weight:bold;}

a:active{font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; font-size:12px; font-weight:bold;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; background-color:#d9e6ec; font-size:12px; color:#0099CC; font-weight: normal; font-family:Arial, Helvetica, sans-serif}   
}


::selection{background-color:#009be4; color:#000;}

.maintable{width:100%; height:100%; background-image:url(../images/top-rept.jpg); background-position: top; background-repeat:repeat-x}

.login-wrap{ width:494px; height:auto; border-radius:15px; background-color:#e8f0f4; box-shadow:0px 0px 15px #0d3b53;
 font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#0d3b53; font-weight:normal; text-align:left; overflow:hidden; border:1px solid #fff}
 
 .login-wrap h1{ font-family:Arial, Helvetica, sans-serif; font-size:23px; color:#FFFFFF; text-align:left; padding-left:60px; background-image:url(../images/login.png); background-position:left; background-repeat:no-repeat } 
 
 .login-wrap a{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#009be4; text-align:left; font-weight:normal;
 background-image:url(../images/i.png); background-position:left; background-repeat:no-repeat;padding:30px}
 
 .login-wrap a:visited{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#009be4; text-align:left; font-weight:normal}
 .login-wrap a:hover{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; text-align:left; font-weight:normal}
 .login-wrap a:active{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#009be4; text-align:left; font-weight:normal}


.form-1{width:280px; height:30px; background-color:#d9e6ec; border:1px solid #b4c5cd; padding-left:5px; padding-right:5px; color:#666666;
font-family:"Courier New", Courier, monospace; font-size:13px; font-weight:normal; border-radius:5px;}




.dropdown-1{width:290px; height:30px; background-color:#d9e6ec; border:1px solid #b4c5cd; padding-left:5px; padding-right:5px; color:#666666;
font-family:"Courier New", Courier, monospace; font-size:13px; font-weight:normal; border-radius:5px; }



.error{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FF0000; text-align: left; font-weight:normal}


a.toplink:link{font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; font-size:12px; font-weight:bold; text-decoration:none; margin-right:15px; padding:5px; }

a.toplink:visited{font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; font-size:12px; font-weight:bold; padding:5px; }

a.toplink:hover{font-family:Verdana, Arial, Helvetica, sans-serif; color:#009be4; font-size:12px; font-weight:bold;

 background-color:#000; padding:5px; }

a.toplink:active{font-family:Verdana, Arial, Helvetica, sans-serif; color:#fff; font-size:12px; font-weight:bold; padding:5px; }

